server {
    listen 80;
    server_name duro;

    root /home/jrey-roj/juanma/webserv_nogit/;
    index index.html;

	location /tests/var {
		allowed_methods POST GET;
	}
}

server {
    listen 80;
    server_name *ample.com;

    root /home/jrey-roj/juanma/webserv_nogit/sources/;
    index index.htmld;

	location / {
		root /home/jrey-roj/juanma/webserv_nogit/;
		allowed_methods POST GET;
	}
	location /tests {
		allowed_methods GET;
		root /home/../home/jrey-roj/../jrey-roj/juanma/webserv_nogit/tests;
		autoindex	on;
	}
}
